/* FONTS */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ROOTS */
:root {
  --main-color: rgb(67, 0, 70);
  --second-color: rgb(154, 94, 154);
  --third-color: rgb(170, 80, 170);
  --border-color: rgb(51, 1, 54);
  --backgroud-sidebar: #250127;
}

/* RESET RULES */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: relative;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background-color: var(--main-color);
}

.fa-gamepad {
  color: white;
}

#header-content {
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.header-btns {
  margin-left: 0.7rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--second-color);
  color: white;
  border: 1px solid var(--border-color);
  border-radius: 40px;

  transition: transform 0.4s ease-in-out;
}

.header-btns:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(80, 80, 80, 0.2);
  background-color: var(--third-color);
  cursor: pointer;
}

/* FILTERS SECTION */
#filters-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#category-bar,
#search-bar,
#alphabetic-sort,
.title-bar,
.title-bar-default {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 8px;

  flex: 1;
}

/* CARDS */
#games-list-section {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card-container {
  height: 100%;
  position: relative;
}

.card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;

  width: 280px;
  height: 100%;
  transition: transform 0.2s ease-in-out;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  height: 65px;
}

.card-header h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.7rem;
}

.card-body {
  font-style: italic;
  color: var(--second-color);
  font-weight: bold;
}

.favorite-game-btn,
.favorite-game-detail-btn {
  border: none;
  background-color: inherit;
  color: #ffc107;
  padding: 0;
  margin: 0;
}

.favorite-game-btn {
  position: absolute;
  top: 0.7rem;
  right: 0.3rem;
  z-index: 1;
}

.favorite-game-btn .fa-star,
.favorite-game-detail-btn .fa-star {
  transition: transform 0.3s ease-in-out;
}

.favorite-game-btn:hover .fa-star,
.favorite-game-detail-btn:hover .fa-star {
  transform: scale(1.3);
  cursor: pointer;
}

/* GAME DETAIL */
#game-card-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#back-btn {
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  background-color: var(--second-color);
  color: white;
  border: none;
  border-radius: 7px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 15px;
}

#back-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--third-color);
  box-shadow: 0 4px 8px rgba(204, 204, 204, 0.2);
}

#game-detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

#game-detail-header h2 {
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--main-color);
  flex-grow: 1;
}

#game-detail-header button {
  margin-right: 0.3rem;
  background: none;
  border: none;
  color: #ffc107;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
}

#game-detail-header button:hover {
  opacity: 0.8;
}

#game-card-section > div > p {
  line-height: 1.6;
  margin-bottom: 10px;
}

#game-card-section > div > p > span {
  font-weight: bold;
  color: var(--second-color);
}

#game-card-section details {
  margin-top: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

#game-card-section details summary {
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 5px;
}

#game-card-section details ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

#game-card-section details li {
  padding: 5px 0;
  border-bottom: 1px dotted #eee;
}

#game-card-section details li:last-child {
  border-bottom: none;
}

/* GAMES COMPARE */
#compare-games-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#add-compare-game-btn {
  background-color: inherit;
  border: none;
  color: var(--second-color);
  cursor: pointer;
  padding: 0.4rem;
}

#add-compare-game-btn:disabled {
  color: #b295b4;
  cursor: default;
}

#compare-section {
  overflow-x: auto;
}

#compare-table thead td {
  padding: 0;
  border-bottom: 1px solid var(--main-color);
}

.selection-game-cell {
  height: 50px;
  padding: 0;
}

.select-game {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.select-game button {
  position: absolute;
  left: 0.2rem;
  z-index: 1;

  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 7px;
  background-color: #b40000;
  color: white;
}

.select-game button:hover {
  cursor: pointer;
}

.title-bar,
.title-bar-default {
  height: 100%;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-radius: 0;
  cursor: pointer;
}

.select-game .title-bar {
  padding-left: 2rem;
}

#compare-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

#compare-table thead .header-cell {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 2px solid var(--border-color);
}

#compare-table .header-cell,
#compare-table .compare-cell {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.compare-cell {
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#compare-table th {
  text-align: left;
  height: 55px;
}

#compare-table th:first-child {
  position: sticky;
  left: 0;
  background-color: var(--main-color);
  border-left: var(--main-color);
  color: white;
  z-index: 2;
}

#compare-table tbody tr:last-child td {
  border-bottom: none;
}

/* SIDEBAR */
#favorite-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#favorite-sidebar-header h3 {
  margin: 0;
}

#favorite-sidebar-closebtn {
  text-align: end;
}

#favorite-sidebar-closebtn button {
  border: none;
  cursor: pointer;
  padding: 0.3rem;

  color: white;
  background-color: inherit;
}

#favorite-sidebar-closebtn button:hover {
  color: #b30101;
}

#favorite-sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  padding: 1rem;
  width: 270px;
  height: 100%;

  background-color: var(--backgroud-sidebar);
  color: white;
  border-left: 1px solid var(--border-color);

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

#favorite-sidebar-container.hidden {
  transform: translateX(100%);
}

#favorite-sidebar-content ul {
  padding-left: 0rem;
}

.favorite-game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.3rem;
}

.favorite-game-item:hover {
  background-color: var(--second-color);
}

.remove-favorite-game {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  border: none;
  color: #6b0000;
  cursor: pointer;
  padding: 0.3rem;
  background: none;
}

.favorite-game-item:hover .remove-favorite-game {
  opacity: 1;
}
