/* FONTS */
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* ROOTS */
:root {
  --main-color: rgb(67, 0, 70);
  --second-color: rgb(154, 94, 154);
  --third-color: rgb(170, 80, 170);
  --border-color: rgb(51, 1, 54);
  --backgroud-sidebar: #250127;
  --header-height: 52px;
}

/* RESET RULES */
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  position: relative;
}

main {
  max-width: 1000px;
  margin: auto;
  padding: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  background-color: var(--main-color);
  height: var(--header-height);
}

.fa-gamepad {
  color: white;
}

#header-content {
  padding: 0.5rem 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  margin: 0;
}

.header-btns {
  margin-left: 0.7rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--second-color);
  color: white;
  border: 1px solid var(--border-color);
  border-radius: 40px;

  transition: transform 0.4s ease-in-out;
}

.header-btns:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(80, 80, 80, 0.2);
  background-color: var(--third-color);
  cursor: pointer;
}

/* FILTERS SECTION */
#filters-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#category-bar,
#search-bar,
#alphabetic-sort,
.title-bar,
.title-bar-default {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 8px;

  flex: 1;
}

/* CARDS */
#games-list-section {
  margin: 1rem 0rem;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.7rem;

  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
  padding-bottom: 1rem;
}

.card-add-game {
  background-color: var(--second-color);
  color: white;
  margin: 0 0.2rem;
}

.card-header-add-game {
  font-size: 2rem;
  font-weight: bold;
  line-height: 96px;
}

.card-header-add-game p {
  margin: 0;
}

.card-container {
  position: relative;
  padding: 0 0.2rem;
}

.card {
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  padding: 1rem;

  width: 280px;
  max-height: 95px;
  transition: transform 0.2s ease-in-out;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
  height: 65px;
}

.card-header h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 0.7rem;
  line-height: 1.2em;
  height: 2.4em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -moz-box;
  -moz-box-orient: vertical;
  line-clamp: 2;
  word-break: break-word;
}

.card-body {
  font-style: italic;
  color: var(--second-color);
  font-weight: bold;
}

.favorite-game-btn,
.favorite-game-detail-btn {
  border: none;
  background-color: inherit;
  color: #ffc107;
  padding: 0;
  margin: 0;
}

.favorite-game-btn {
  position: absolute;
  top: 0.7rem;
  right: 0.3rem;
  z-index: 1;
}

.favorite-game-btn .fa-star,
.favorite-game-detail-btn .fa-star {
  transition: transform 0.3s ease-in-out;
}

.favorite-game-btn:hover .fa-star,
.favorite-game-detail-btn:hover .fa-star {
  transform: scale(1.3);
  cursor: pointer;
}

#number-results {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}

/* GAME DETAIL */
#game-card-section {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#back-btn {
  font-size: 1rem;
  padding: 0.3rem 0.8rem;
  background-color: var(--second-color);
  color: white;
  border: none;
  border-radius: 7px;
  transition: transform 0.2s ease-in-out;
}

#back-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--third-color);
  box-shadow: 0 4px 8px rgba(204, 204, 204, 0.2);
}

#game-detail-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

#game-detail-header h2 {
  margin: 0.5rem;
  font-size: 2rem;
  color: var(--main-color);
  flex-grow: 1;

  overflow: hidden;
  text-overflow: ellipsis;
}

#game-detail-header button {
  margin-right: 0.3rem;
  background: none;
  border: none;
  color: #ffc107;
  cursor: pointer;
  font-size: 1.5rem;
  outline: none;
}

#game-detail-header button:hover {
  opacity: 0.8;
}

#game-card-section > div > p {
  line-height: 1.6;
  margin-bottom: 10px;
}

#game-card-section > div > p > span {
  font-weight: bold;
  color: var(--second-color);
}

#game-card-section details {
  margin-top: 15px;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 10px;
}

#game-card-section details summary {
  font-weight: bold;
  cursor: pointer;
  padding-bottom: 5px;
}

#game-card-section details ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

#game-card-section details li {
  padding: 5px 0;
  border-bottom: 1px dotted #eee;
}

#game-card-section details li:last-child {
  border-bottom: none;
}

/* GAMES COMPARE */
#compare-games-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

#add-compare-game-btn {
  background-color: inherit;
  border: none;
  color: var(--second-color);
  cursor: pointer;
  padding: 0.4rem;
}

#add-compare-game-btn:disabled {
  color: #b295b4;
  cursor: default;
}

#compare-section {
  overflow-x: auto;
}

#compare-table thead td {
  padding: 0;
  border-bottom: 1px solid var(--main-color);
}

.selection-game-cell {
  height: 50px;
  padding: 0;
}

.select-game {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}

.select-game button {
  position: absolute;
  left: 0.2rem;
  z-index: 1;

  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 7px;
  background-color: #b40000;
  color: white;
}

.select-game button:hover {
  cursor: pointer;
}

.title-bar,
.title-bar-default {
  height: 100%;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  border-right: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
  border-radius: 0;
  cursor: pointer;
}

.select-game .title-bar {
  padding-left: 2.3rem;
}

#compare-table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ccc;
}

#compare-table thead .header-cell {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  text-align: left;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 2px solid var(--border-color);
}

#compare-table .header-cell,
#compare-table .compare-cell {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.compare-cell {
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#compare-table th {
  text-align: left;
  height: 55px;
}

#compare-table th:first-child {
  position: sticky;
  left: 0;
  background-color: var(--main-color);
  border-left: var(--main-color);
  color: white;
  z-index: 2;
}

#compare-table tbody tr:last-child td {
  border-bottom: none;
}

/* SIDEBAR */
#favorite-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#favorite-sidebar-header h3 {
  margin: 0;
}

#favorite-sidebar-closebtn {
  text-align: end;
}

#favorite-sidebar-closebtn button {
  border: none;
  cursor: pointer;
  padding: 0.3rem;

  color: white;
  background-color: inherit;
}

#favorite-sidebar-closebtn button:hover {
  color: #b30101;
}

#favorite-sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;

  padding: 1rem;
  width: 270px;
  height: 100%;

  background-color: var(--backgroud-sidebar);
  color: white;
  border-left: 1px solid var(--border-color);

  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

#favorite-sidebar-container.hidden {
  transform: translateX(100%);
}

#favorite-sidebar-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--header-height));
}

#favorite-sidebar-content ul {
  padding-left: 0rem;
  overflow-y: auto;
  flex-grow: 1;
}

.favorite-game-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favorite-game-item:hover {
  background-color: var(--second-color);
}

.favorite-game-name {
  flex-grow: 1;

  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

.favorite-game-name p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1.2em;
}

.remove-favorite-btn {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;

  border: none;
  color: #6b0000;
  cursor: pointer;
  padding: 0.3rem;
  background: none;
}

.favorite-game-item:hover .remove-favorite-btn {
  opacity: 1;
}

/* ADD GAME SECTION */
#add-game-section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#add-game-section {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #333;
}

.input-container input[type="text"],
.input-container input[type="date"],
.input-container input[type="number"],
.input-container select {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.input-container select option {
  font-size: 1rem;
}

.input-container .checkbox-group-container {
  margin-top: 0.5rem;
}

.input-container .checkbox-group-label {
  font-weight: bold;
  margin-bottom: 0.3rem;
  color: #333;
}

.input-container .input-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.input-container .checkbox-item {
  display: flex;
  align-items: center;
}

.input-container .checkbox-item input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.3rem;
  transition: background-color 0.2s ease;
}

.input-container .checkbox-item input[type="checkbox"]:checked {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

.input-container .checkbox-item input[type="checkbox"]:checked::before {
  content: "\2713";
  color: white;
  font-size: 12px;
}

#add-game-section .input-container .checkbox-item label {
  cursor: pointer;
  user-select: none;
}

#add-game-section button[type="submit"] {
  padding: 0.8rem 1.5rem;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 7px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.5rem;
}

#add-game-section button[type="submit"]:hover {
  background-color: rgb(50, 0, 52);
}

#add-game-section button[type="submit"]:disabled {
  background-color: rgb(183, 164, 184);
  cursor: default;
}

.input-validation {
  color: #d32f2f;
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-bottom: 0;
  font-style: italic;
}

#info p {
  margin: 0;
}

/* ERROR ALERT */
.error-alert {
  margin-top: 1.5rem;
  background-color: #f44336;
  color: white;
  padding: 0.3rem 1.2rem;
  border-radius: 5px;
  text-align: center;
}

.error-alert p {
  white-space: pre-wrap;
}

/* DELETE BUTTON */
#detail-game-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#detail-game-btns button {
  color: white;
  border: 0;
  border-radius: 5px;
  cursor: pointer;

  padding: 0.5rem;
}

#detail-game-btns #update-btn {
  background-color: #6bac57;
}

#detail-game-btns #delete-btn {
  background-color: #af0000;
  margin-left: 0.5rem;
}

/* MODAL */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal.show .modal-container {
  transform: translateY(0);
  opacity: 1;
}

.modal-container {
  background-color: #fefefe;
  border-radius: 5px;
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translateY(-100px);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#modal-content {
  margin-bottom: 1rem;
}

/* Close button */
.close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 40px;
  font-weight: bold;
  color: #130c33;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

.modal-btn {
  display: flex;
  gap: 1rem;
}

.modal-btn button {
  width: 150px;
  font-size: 1rem;
  border: 1px solid rgb(209, 208, 208);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.cancelbtn {
  background-color: #ccc;
  color: black;
}

.confirmbtn {
  color: white;
}

.confirmbtn:disabled {
  cursor: default;

  background-color: inherit;
  opacity: 0.5;
  filter: brightness(0.9);
}
